################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.exe
*.ilk
*.pdb
*.tlog
*.log
*.obj
*.idb
*.recipe
*.db
*.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
